* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: left; 
    border: none;
    color: #131218;
    background-color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    align-items: left;
    width: auto;
    padding-left: 78px;
    padding-right: 78px;
}

header {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 0px 78px 0px 0px;
    gap: 16px;
    border-bottom: #DDDDDD;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    background-color: #FAFAFA;
    position: fixed; top: 0; left: 0;,; z-index: 9999; width: 100%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    width: 1440px;
}

header ul {
    display: flex;
    align-items: right;
    flex-direction: row;  
    width: relative;
}

header li {
    display: flex;
    width: relative;
    align-items: center;
    flex-direction: row;
    margin: 32px;
} 

header a {
    display: flex;
    width: relative;
    font-size: 16px; 
    line-height: 24px; 
    align-items: center;
    flex-direction: row;
}

header btns {
    display: flex;
    flex-direction: row;
    align-items: right;
    padding-left: 24px;
}

.header_button {
    display: flex;
    flex-direction: row;
    align-items: right;
    align-items: flex-start;
    padding: 8px 16px;
    background: #FAFAFA;
    border-radius: 6px;
    color: #131218;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.header_button:hover {
    background: #BF90A1;
}

.hero_ufo {
    display: block;
    align-items:center;
    text-align: center;
    padding-left: 78px;
    padding-right: 78px;
    margin-top: 180px;
    margin-bottom: 200px;
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url('Poppins/Poppins-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins-Bold';
    src: url('Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
  }

  @font-face {
    font-family: 'Poppins-Italic';
    src: url('Poppins/Poppins-Italic.ttf') format('truetype');
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins-Medium';
    src: url('Poppins/Poppins-Medium.ttf') format('truetype');
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins-SemiBold';
    src: url('Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-style: italic;
  }

  @font-face {
    font-family: 'Poppins-Light';
    src: url('Poppins/Poppins-Light.ttf') format('truetype');
    font-style: italic;
  }


h1 {
    font-size: 40pt;
    line-height: 150%;
}

h2 {
    font-size: 32pt;
    line-height: 150%;
}

h3 {
    font-size: 24pt;
    line-height: 150%;
}

h4 {
    font-size: 16pt;
    line-height: 150%;
}

h5 {
    font-size: 14pt;
    line-height: 150%;
}

p {
    font-size: 12pt;
    line-height: 150%;
}

.footer_text {
    font-size: 10pt;
    line-height: 150%;
}    

.work {
    display: flex;
    flex-direction: row;
    align-items: left;
    margin: 78px;
} 

.other {
    display: block;
    flex-direction: row;
    align-items: left;
    margin-left: 78px;
    margin-right: 78px;
    margin-top: 88px;
    margin-bottom: 88px;
    columns: auto;
} 

.row {
    display: flex;
    align-items: center;
  }
  
.column_left {
    flex: 50%;
    margin-left: 16px;
  }

.column_right {
    flex: 50%;
    margin-right: 16px;
  }

.responsive {
    width: 100%;
    height: auto;
  }

.casecover {
    display: block;
    background-color: #FAFAFA;
  }

.casecontent {
    display: block;
    margin-left: 78px;
    margin-right: 78px;
  }

.content_column_left {
    flex: 50%;
    margin-left: 16px;
    align-items: center;
  }

.content_column_right {
    flex: 50%;
    margin-right: 16px;
  }


.hero_column_left {
    flex: 70%;
    margin-left: 16px;
    align-items: left;
  }

.hero_column_right {
    flex: 30%;
    margin-right: 16px;
    align-items: right;
  }

.footer_div {
    align-items: center;
    text-align: center;
    padding: 32px 0px 32px 0px;
    border-top: solid;
    border-top-width: 1px;
    border-top-color: #DDDDDD;
    background-color: #FAFAFA;
  }

  .other_case {
    display: block;
    flex-direction: row;
    align-items: left;
    margin-left: 78px;
    margin-right: 78px;
    columns: auto;
} 